{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/index.css" rel="stylesheet">
  <title>HTMX Test</title>
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>

  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      document.body.addEventListener("htmx:beforeSwap", function (evt) {
        if (evt.detail.xhr.status === 422) {
          // allow 422 responses to swap as we are using this as a signal that
          // a form was submitted with bad data and want to rerender with the 
          // errors.

          // set isError to false to avoid error logging in console
          evt.detail.shouldSwap = true
          evt.detail.isError = false
        }
      })
    })
  </script>
</head>

<body>
  {{ template "form" .Form }}
  <hr />
  {{ template "display" .Data }}
</body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
  name: <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type="text" name="name"><br>
  email: <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="text" name="email"><br>
  {{ if .Errors.email }}
  <div style="color: red;">{{ .Errors.email }}</div>
  {{ end }}
  <button type="submit">Create Contact</button>
</form>
{{ end }}

{{ block "display" . }}
<div id="contacts" style="display: flex; flex-direction: column;">
  {{ range .Contacts }}
  {{ template "contact" . }}
  {{ end }}
</div>
{{ end }}

{{ block "contact" . }}
<div class="contact" style="display: flex; gap: 6px;" id="contact-{{ .Id }}">
  <button hx-indicator="#ci-{{ .Id }}" hx-delete="/contacts/{{ .Id }}" hx-swap="outerHTML swap:500ms"
    hx-target="#contact-{{ .Id }}">X</button>
  Name: <span>{{ .Name }}</span>
  Email: <span>{{ .Email }}</span>

  <div id="ci-{{ .Id }}" class="htmx-indicator">
    <img src="/images/bars.svg" alt="loading" style="width: 1rem;">
  </div>
</div>
{{ end }}

{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">
  {{ template "contact" . }}
</div>
{{ end }}